<div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-lg lg:max-w-4xl">
  <div class="hidden bg-cover lg:block lg:w-1/2" style="background-image: url('https://images.unsplash.com/photo-1606660265514-358ebbadc80d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1575&q=80');"></div>

  <div class="w-full px-6 py-8 md:px-8 lg:w-1/2">
    <h2 class="text-2xl font-semibold text-center text-gray-700">
      Let's go
    </h2>

    <p class="text-xl text-center text-gray-600">
      Welcome back!
    </p>

    <div class="flex items-center justify-between mt-4">
      <span class="w-1/5 border-b lg:w-1/4"></span>

      <a href="#" class="text-xs text-center text-gray-500 uppercase hover:underline">or login
        with email</a>

      <span class="w-1/5 border-b lg:w-1/4"></span>
    </div>

    <div class="mt-4">
      <label class="block mb-2 text-sm font-medium text-gray-600 " for="LoggingEmailAddress">Email Address</label>
      <input id="LoggingEmailAddress" class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-lg focus:border-blue-400 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300" type="email" />
    </div>

    <div class="mt-4">
      <div class="flex justify-between">
        <label class="block mb-2 text-sm font-medium text-gray-600 " for="loggingPassword">Password</label>
        <a href="#" class="text-xs text-gray-500 hover:underline">Forget Password?</a>
      </div>

      <input id="loggingPassword" class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-lg focus:border-blue-400 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300" type="password" />
    </div>

    <div class="mt-6">
      <button class="w-full px-6 py-3 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-gray-800 rounded-lg hover:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50">
        Sign In
      </button>
    </div>

    <div class="flex items-center justify-between mt-4">
      <span class="w-1/5 border-b md:w-1/4"></span>

      <a href="/register" class="text-xs text-gray-500 uppercase hover:underline">or sign up</a>

      <span class="w-1/5 border-b md:w-1/4"></span>
    </div>
  </div>
</div>

<div class="flex justify-center mt-40">
  <div class="rounded-lg border rounded-lg px-8 py-6">
    <h1>Sign in</h1>
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username" class="font-light">Username</label>
        <input
          id="username"
          type="text"
          class="rounded-md px-2 py-1"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="username.errors && f.submitted"
        >
          Username is required!
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="font-light">Password</label>
        <input
          id="password"
          type="password"
          class="rounded-md px-2 py-1"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors?.['required']">Password is required</div>
          <div *ngIf="password.errors?.['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Login
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{ roles }}.
    </div>
  </div>
</div>
