<div class="px-10 py-8">
  <nav class="flex justify-between border-b pb-4 border-gray-300">
<!--    <a href="#" class="text-lg font-bold tracking-tight">Let'sGO</a>-->
    <ul class="basis-1/4"></ul>
    <ul class="basis-1/2 flex gap-4 font-sm font-light tracking-tight" routerLinkActive="active">
      <li>
        <a href="/home"  routerLink="home">Main</a>
      </li>
      <li>
        <a href="/home"  routerLink="home">About Us</a>
      </li>
      <li>
        <a href="/home"  routerLink="home">Tours</a>
      </li>
      <li>
        <a href="/home"  routerLink="home">Gallery</a>
      </li>
      <li>
        <a href="/home"  routerLink="home">Reviews</a>
      </li>
      <li>
        <a href="/home"  routerLink="home">Contacts</a>
      </li>
      <li *ngIf="showAdminBoard">
        <a href="/admin" routerLink="admin">Admin Board</a>
      </li>
      <li *ngIf="showModeratorBoard">
        <a href="/mod" routerLink="mod">Moderator Board</a>
      </li>
      <li>
        <a href="/user" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul>

    <ul class="col-span-2 flex" *ngIf="!isLoggedIn">
      <li class="flex gap-2">
        <a href="#"><img src="/assets/vuesax/linear/translate.svg" alt="translate"></a>
        <a href="#"><img src="/assets/vuesax/linear/search-normal.svg" alt="Search"></a>
        <a href="/register">Logdf</a>
        <a href="/login" routerLink="login"><img src="/assets/vuesax/linear/user.svg" alt="User"></a>
      </li>
    </ul>

    <ul *ngIf="isLoggedIn">
      <li>
        <a href="/profile" routerLink="profile">{{ username }}</a>
      </li>
      <li>
        <a href (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="mt-10">
    <router-outlet></router-outlet>
  </div>
</div>
